@import includes/base

// +global-reset

body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  +blueprint-scaffolding

body
  a, a:hover, a:active
    outline: none

  #top
    margin: 10px
    padding: 10px
    height: 50px
    background: url(../images/logo.png) top left no-repeat

    #logo
      float: left

    #login_box
      float: right

  #container
    +container

  #content
    +column(9, true)
    margin-top: 20px
    width: 900px
    hgroup
      h2, h3
        margin: 0px
        padding: 0px
      h3
        font-weight: normal
        font-family: "Georgia"
        font-size: 1.6em
        width: 600px
        margin: 0px
          bottom: 30px

    p
      margin-bottom: 1em
