h1#description="Bitacorum helps you collect, categorize and understand your everyday data."
h3="Start by logging in with your Google account." unless current_user
h3='STFU and take me to my data!' if current_user
